@using SehrimiTani.Entities.ValueObjects;
@model RegisterViewModelcs
@{
    ViewBag.Title = "Kayıt Sayfası";
}


<link href="~/css/css/login-register.css" rel="stylesheet" />
<script src="~/css/css/login-register.js"></script>
<!------ Include the above in your HEAD tag ---------->

@using (Html.BeginForm())
{

    <div class="container" style="margin-left:400px;margin-bottom:20px;margin-top:50px">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <h2>Üniversitenizi tanımanız için lütfen kayıt olun</h2>
                    @Html.ValidationSummary(false)
                    <hr class="colorgraph">

                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Adi, new { @class = "form-control input-lg", placeholder = "Adınız", tabindex = "1" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Soyadi, new { @class = "form-control input-lg", placeholder = "Soyadınız", tabindex = "2" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control input-lg", placeholder = "Kullanıcı Adınız", tabindex = "3" })

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control input-lg", placeholder = "Telefon", tabindex = "4" })


                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.EMail, new { @class = "form-control input-lg", placeholder = "Email Address", tabindex = "5" })


                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-lg", placeholder = "Şifre", tabindex = "6", type = "password" })

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.RePossword, new { @class = "form-control input-lg", placeholder = "Şifre Tekrar", tabindex = "7", type = "password" })
                            </div>
                        </div>
                    </div>


                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><a href="/Home/Login" class="btn btn-primary btn-block btn-lg">Giriş Yap</a></div>
                        <div class="col-xs-12 col-md-6"><button type="submit" class="btn btn-success btn-block btn-lg">Kayıt Ol</button></div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



    </div>

}
<script>

    function hideSlider() {
        var element = document.getElementById('Silider');
        var menu = document.getElementById("ftco-navbar");
        menu.hidden = true;
        element.hidden = true;
    };
    window.onload = hideSlider();
</script>