@using SehrimiTani.Entities
@model Kullanicilar

@{
    ViewBag.Title = "Profiliniz";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Kullanıcı Bilgileri</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <img src="~/images/@Model.ProileImagerFilename" class="img-circle" width="128" height="128" />
                        </div>

                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                          <dl>
                            <dt>DEPARTMENT:</dt>
                            <dd>Administrator</dd>
                            <dt>HIRE DATE</dt>
                            <dd>11/12/2013</dd>
                            <dt>DATE OF BIRTH</dt>
                               <dd>11/12/2013</dd>
                            <dt>GENDER</dt>
                            <dd>Male</dd>
                          </dl>
                        </div>-->
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Kullanıcı adı:</td>
                                        <td>@Model.Kuladi</td>
                                    </tr>
                                    <tr>
                                        <td>Adı Soaydı:</td>
                                        <td>@Model.Adi   @Model.Soyadi</td>
                                    </tr>
                                    <tr>
                                        <td>E Mail:</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Şifre:</td>
                                        <td>@Model.Sifre</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Telefon:</td>
                                        <td>@Model.Telefon</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:ondershin@gmail.ocm">ondershin@gmail.com</a></td>
                                    </tr>
                                   
                               

                                </tbody>
                            </table>

                          
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="@Url.Action("EditProfile")" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="@Url.Action("DeleteProfile")" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz')" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    function hideSlider() {
        var element = document.getElementById('Silider');
        var menu = document.getElementById("ftco-navbar");
      
        element.hidden = true;
    };
    window.onload = hideSlider();
</script>