@model SehrimiTani.Entities.Kullanicilar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Kullanicilar</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kuladi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Kuladi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Soyadi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Soyadi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProileImagerFilename)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProileImagerFilename)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ActivateGuid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ActivateGuid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isAdmin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isAdmin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
